@{
    ViewData["Title"] = "Register";
}

@model Book.Models.RegisterViewModel

<form asp-controller="Register" asp-action="Register" method="post">
    <fieldset>
        <legend> Register Here </legend>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
             <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div> 
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="Confirm"></label>
            <input asp-for="Confirm">
            <span asp-validation-for="Confirm"></span>
        </div> 
        <p><a asp-controller="Register" asp-action="LoginPage"> Already Register? </a></p>
        <button> Register </button>
    </fieldset>
</form>         

@if (ViewBag.message != null)
{
    <p>@ViewBag.message</p>
}