
@model Book.Models.User

<h1> Welcome @ViewBag.UserId :(</h1> 
<h4><a asp-controller="Register" asp-action="Logoff">Log Out</a></h4>

<h1> Product Name : </h1>
<input type="text">

<h1> Description : </h1>
<textarea name="description" form="usrform">Enter text here...</textarea>

<h1>Startin Bid : </h1>
<input type="text">


<h1> End Date : </h1>
<input type="date" id="date">



